@charset "UTF-8";
.main-container-profile {
  margin: 0;
  color: #090909;
  background: #F2F5FF;
  font-family: "Cabin", sans-serif;
  min-height: 1000vh;
}

/* ХЕДЕР - лого и навигация слева, аватар справа */
.header {
  display: flex;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 113px;
  background: #FFFFFF;
  padding: 8px 30px;
  border-radius: 21px;
  margin: 14px;
  width: 950px;
}

.container-avatar {
  display: flex;
  margin: auto 10px auto 350px;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  font-family: "Amiko", sans-serif;
  background: linear-gradient(90deg, #39376C, #ab4ad5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin: 0;
}

nav {
  gap: 220px;
  display: contents;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #444;
}

nav a:first-child {
  margin-left: 0;
}

/* Аватар - отдельно справа */
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #C02BFF;
  background-image: url("https://ui-avatars.com/api/?background=C02BFF&color=fff&name=Дарья+Федорова");
  background-size: cover;
}

.arrow-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.3s;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 22px;
}

/* LAYOUT */
.container {
  display: flex;
  gap: 30px;
  padding: 20px;
  max-width: 950px;
  margin: 0 auto;
}

/* PROFILE */
.profile-card {
  width: 300px;
  height: 450px;
  background: #ffffff;
  border: 1px;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.fio {
  font-size: 20px;
}

.profile-img {
  height: 100px;
  width: 100px;
  border-radius: 14%;
  margin-bottom: 10px;
}

/* CONTENT */
.content {
  flex: 1;
}

/* STATS */
.stats {
  background: white;
  padding: 20px;
  border-radius: 15px;
  width: 250px;
  margin-bottom: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.stats p {
  margin: 5px 0;
}

.expert {
  color: #535353;
}

.middle {
  color: #535353;
}

.junior {
  color: #535353;
}

.newbie {
  color: #535353;
}

/* BUTTON */
.add-btn {
  float: right;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: #e5c7f7;
  cursor: pointer;
  margin-bottom: 20px;
}

/* SKILLS */
.skills {
  clear: both;
  background: white;
  border-radius: 20px;
  padding: 20px;
}

.skills-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.skills-header input {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

/* TABLE */
.skills-table .row {
  display: grid;
  grid-template-columns: 2fr 1fr 150px;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  align-items: center;
}

.tag {
  background: #eee;
  padding: 5px 10px;
  border-radius: 15px;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
}

.tag.expert {
  background: #ffd6d6;
}

.tag.newbie {
  background: #d3f9d8;
}

/* Адаптивность */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 15px;
  }
  .header-left {
    flex-direction: column;
    gap: 15px;
  }
  .container {
    flex-direction: column;
  }
  .stats {
    width: auto;
  }
}/*# sourceMappingURL=profile.css.map */