// src/styles/public-profile.scss

.public-profile-page {
    margin: 0;
    color: #535353;
    background: #F2F5FF;
    font-family: 'Cabin', sans-serif;
    min-height: 100vh;
}

/* ХЕДЕР */
.public-header {
    display: flex;
    align-items: center;
    gap: 30vh;
    flex-shrink: 0;
}

.public-header-left {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    padding: 8px 40px;
    border-radius: 21px;
    margin: 14px;
    gap: 5vh;
}

.public-logo {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Amiko', sans-serif;
    background: linear-gradient(90deg, #39376C, #ab4ad5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin: 0;
}

.public-nav {
    display: contents;
}

.public-nav a {
    text-decoration: none;
    color: #444;
    padding: 8px 80px;
    border-radius: 20px;
    transition: all 0.3s ease;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.public-nav a:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    color: #709FFA;
}

.public-container-avatar {
    display: flex;
    align-items: center;
}

.public-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #C02BFF;
    background-size: cover;
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

.public-arrow-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: transform 0.3s;
    object-fit: contain;
    margin-left: 22px;
}

/* ОСНОВНОЙ КОНТЕЙНЕР */
.public-main {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.public-profile-wrapper {
  width: 900px;
}

.public-profile-card {
  background: #ffffff;
  padding: 30px;
  border-radius: 20px;
box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

/* TOP */
.public-top {
  display: flex;
  gap: 60px;
  margin-bottom: 20px;
}
.public-name{
    margin-bottom: 5px;
}
.public-avatar-large img {
  width: 160px;
  height: 160px;
  border-radius: 80%;
}

.public-user-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.public-title-row {
  color: #535353;
  display: flex;
  gap: 30px;
}
.public-info-item{
    color: #535353;
    gap:20px;
    display: flex;
    margin-bottom: 13px;
}
.public-info-items{
    margin-top: 13px;
}

/* BOTTOM */
.public-bottom {
  display: flex;
  gap: 20px;
}

/* LEFT */
.public-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.public-about,
.public-skills-section,
.public-projects-section {
  background: white;
  padding: 15px 17px 21px 17px ;
  border-radius: 12px;
  border: 1px solid #D3D3D3;
}
.skill-row span{
    font-size: 16px;
    
}
.badge{
    color: black;
    font-size: 14px;
}


.public-about h3{
    margin: 0;
    color: #1E1E1E;
    font-weight: 700;
    font-size: 16px;
}
.public-about p{
    margin-bottom: 0;

}

/* SKILLS */
.skill-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.badge {
  padding: 3px 10px;
  border-radius: 12px;
  font-size: 12px;
}

.expert { background: #F2ACAC; }
.advanced { background: #EDC9AD; }
.experienced { background: #F4F3B5; }
.novice { background: #C0E6BC; }

/* RIGHT */
.public-projects-section {
  width: 300px;
}
.public-projects-section h3{
      margin: 0;
    margin-bottom: 10px;
        color: #1E1E1E;
    font-weight: 700;
    font-size: 16px;
}

.project {
     border-bottom: 1px solid #A1A1A1;
  padding: 10px 0;
}
.project:last-child{
    border-bottom: none;
}

.project-title {
  font-weight: bold;
}

.project-desc {
  font-size: 14px;
  color: #535353;
max-width: 280px;
margin-top: 10px;

}
.public-skills-section h3{
    margin: 0;
    margin-bottom: 20px;
        color: #1E1E1E;
    font-weight: 700;
    font-size: 16px;
}





/* ДРОПДАУН МЕНЮ */
.public-arrow-wrapper {
    position: relative;
}

.public-dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    width: 222px;
    background: white;
    border-radius: 20px;
    box-shadow: 8px 10px 3px 0px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 1000;
}

.public-dropdown-menu.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    width: auto;
}

.public-dropdown-header {
    display: flex;
    align-items: center;
    gap: 22px;
    padding: 17px;
    width: fit-content;
}

.public-dropdown-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #C02BFF;
    background-size: cover;
    box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.2);
}

.public-dropdown-info {
    flex: 1;
}

.public-dropdown-name {
    font-weight: 600;
    color: #333;
    margin-bottom: 4px;
    white-space: nowrap;
}

.public-dropdown-role {
    font-size: 12px;
    color: #888;
}

.public-dropdown-item {
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    background: none;
    cursor: pointer;
    font-size: 11px;
    color: #535353;
    transition: 0.2s;
    text-align: left;
    border: 1px solid #53535329;
    border-radius: 10px;
    display: flex;
    white-space: nowrap;
    margin: 17px;
    margin-top: 5px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
    width: stretch;
}

.public-dropdown-item:hover {
    background: #f5f5f5;
}

.public-dropdown-icon {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

.public-dropdown-item.public-logout {
    margin: 21px 17px 21px 17px;
}


.project-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

.project-icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
    flex-shrink: 0;
}



